.about_contents {
    padding: 10px;
    display: inline;
    display: table-cell;
}

#left_column {
    /*float: left;*/
    display: table-cell;
    width: 25%;
    background-color: yellow;
    position: relative;
    text-align: center;
}

#left_column img {
    width: 250px;
    height: 250px;
    border: 5px solid black;
}

#left_column table {
    background-color: red;
    width: 250px;
    margin: auto;
    text-align: left;
}

#right_column {
    /*float: left;*/
    display: table-cell;
    vertical-align: top;
    /*position: relat   ive;*/
    width: 60%;
    background-color: purple;
}

#profile_picture {
    /*display: block;*/
    background-color: red;
}

#contacts {
    /*position: relative;*/
    background-color: green;
    display: inline;
}

.accordion-toggle {
    background-color: green;
    font-family: Tahoma, sans-serif;
    font-style: bold;
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.accordion-body {
    /*padding: 10px;*/
    margin: 10px;
}

.accordion-content {
    border-radius: 0px 0px 5px 5px;
    background-color: red;
}

.mini_sections {
    background-color: #FEF0F4;
    box-shadow:
      0 1px 2px #fff, /*bottom external highlight*/
      0 -1px 1px #666, /*top external shadow*/
      inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
      inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    }
