nav {
    background-color: violet;
    text-align: left;
}

nav li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin-right: -40px;
    /*border: 2px solid green;*/
    padding: 15px;
    font-family: Helvetica, sans-serif;
}

nav li a:link, a:visited {
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: red;
    padding: 20px;
}

nav li a:active {

}
