nav {
    background-color: #d9d9d9;
    text-align: left;
}

nav li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    /* margin-right: -40px; */
    /*border: 2px solid green;*/
    padding: 15px;
    font-family: Helvetica, sans-serif;
    /* background-color: azure; */
    border-radius: 5px 5px 0px 0px;
}

nav li a:link, a:visited {
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: #9575CD;
    padding: 15px;
}

nav li a:active {
    
}
